body {
    background-color: white;
}

p {
    padding: 2rem;
    border: 2rem solid pink;
    background-color: aqua;
    /* margin: 3rem; */
    margin: 4rem 2rem;

    /* margin: 4rem 2rem 3rem; */
    /* margin: 4rem 2rem 3rem 2rem; */
    /* margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom:2em;
    margin-left: 2em; */
}